apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: ticketmaster
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:latest
          ports:
            - containerPort: 6379
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: "1"
              memory: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: ticketmaster
spec:
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379
