apiVersion: v1
kind: ConfigMap
metadata:
  name: schema-registry-config
  namespace: ticketmaster
data:
  schema-registry.properties: |
    listeners=http://0.0.0.0:8081
    host.name=schema-registry
    kafkastore.bootstrap.servers=PLAINTEXT://kafka.ticketmaster.svc.cluster.local:9092
    kafkastore.topic=_schemas
    debug=false
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: schema-registry
  namespace: ticketmaster
spec:
  replicas: 1
  selector:
    matchLabels:
      app: schema-registry
  template:
    metadata:
      labels:
        app: schema-registry
    spec:
      containers:
        - name: schema-registry
          image: confluentinc/cp-schema-registry:7.8.0
          command: ["/bin/bash", "-c"]
          args:
            - |
              /usr/bin/schema-registry-start /etc/schema-registry/schema-registry.properties
          volumeMounts:
            - name: config
              mountPath: /etc/schema-registry/schema-registry.properties
              subPath: schema-registry.properties
          ports:
            - containerPort: 8081
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: "1"
              memory: 1Gi
      volumes:
        - name: config
          configMap:
            name: schema-registry-config
---
apiVersion: v1
kind: Service
metadata:
  name: schema-registry
  namespace: ticketmaster
spec:
  selector:
    app: schema-registry
  ports:
    - port: 8081
      targetPort: 8081
